doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        each css in ['fonts', 'base', 'heading', 'list', 'scrollbar', 'main', 'catalogue']
            link(rel='stylesheet', type='text/css', href='../style/' + css + '.css')
        each dependency in dependencies
            script(type='text/javascript', src='../js/' + dependency.lib + '.' + dependency.version + '.min.js')
        script(type='text/javascript', src='../js/ranjs.min.js')
        script(type='text/javascript', src='../dl/dalian.min.js')
        title catalogue
    body
        script.
          const WIDTH = 240 - 42;
          const HEIGHT = 240 - 42 - 30;
        main
            .main-content-wide
                h1 catalogue
                p Here you can explore all available widgets, their APIs and related components that make up the library.

                h2 widgets
                .card-container
                    each widget in widgets
                        a.card(href=widget.category + '/' + widget.name)
                            .card-title #{widget.factory}
                            .card-content(id='' + widget.name)
                            | !{widget.script}

                h2 components
                .card-container
                    each component in components
                        a.card(href=component.category + '/' + component.name)
                            .card-title #{component.factory}
                            .card-content(id='' + component.name)
                            | !{component.script}
