doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        each lib in config.libs
            script(src=config.root + '/lib/' + lib)
        each component in config.dalian
            script(src=component)
        each style in config.styles
            link(rel='stylesheet', type='text/css', href=config.root + '/style/' + style)
        title #{name}
    body
        #controls
            .title Methods
            .buttons
        #widget
    script(src=config.content)
