doctype html

//mixin resize(elem)
    //script.
        function resize() {
          const { width, height } = getSize();
          document.getElementById('widget').style.paddingTop = height + 'px';
          #{elem}
            .width(width)
            .height(height)
        }
        window.onresize = resize;

html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        each css in ['fonts', 'scrollbar', 'base', 'main', 'heading', 'code', 'example', 'link', 'marker', 'desktop', 'atelier-lakeside-light']
            link(rel='stylesheet', type='text/css', href='../../../style/' + css + '.css')
        each lib in ['codedoc.min', 'highlight.min', 'mobile-detect.1.4.4.min', 'ranjs.min']
            script(type='text/javascript', src='../../../js/' + lib + '.js')
        each dependency in dependencies
            script(type='text/javascript', src='../../../js/' + dependency.lib + '.' + dependency.version + '.min.js')
        script(type='text/javascript', src='../../../js/controls.js')
        script(type='text/javascript', src='../../../dl/dalian.min.js')
        script(type='text/javascript').
          codedoc.heading()
            .callback(function() {
              hljs.initHighlighting.called = false;
              hljs.initHighlighting();
            });
        title #{title} | dalian
    body
        main
            .main-content-centered
                #widget
                    .margin-right
                        #controls
                            .controls-title Explore the API
                            .content !{controls}
                if div
                    div(id=div.i, class=div.c)
                h1 description
                    .margin-right
                        a(href='../../') Back to the catalogue
                p#desc
                    | !{description}

                script.
                    // Widget size.
                    const WIDTH = parseFloat(d3.select('#widget').style('width'));
                    const HEIGHT = parseFloat(d3.select('#widget').style('padding-bottom'));

                h1 code
                    .margin-right
                        a(href='../../../api/' + type + '/' + widgetName + '.html') Documentation
                        a(href='https://github.com/synesenom/dalian/blob/master/src/' + modulePath + '.js') Source code
                #code-doc
                | !{code}
                //+resize('' + variableName)
    //script.
    //    resize();
